* { margin: 0; padding: 0; }

.nav { width: 100%; height: 3.5rem; background: #cccccc; position: fixed; z-index: 10; }

.nav > img { margin: 1rem 0.5rem; }

.nav > p { display: inline-block; color: white; font-weight: 500; font-size: 1.2rem; position: absolute; left: 5.5rem; top: 1rem; }

.nav_d { display: inline-block; width: 2.5rem; height: 1.2rem; font-size: 0.8rem; border: 1px solid white; border-radius: 0.25rem; background: #e6e6e6; color: white; text-align: center; position: absolute; left: 12.5rem; top: 1.15rem; }

.nav_k { width: 100%; height: 0.5rem; background: #f4f4f4; }

.center { margin-top: 3.5rem; width: 14.5rem; margin-left: 0.75rem; }

.center_one > p { width: 100%; font-weight: 900; font-size: 0.8rem; color: #323232; }

.center_one_zuo > span { display: inline-block; font-weight: 100; color: #cccccc; font-size: 0.6rem; float: left; }

.center_one_you { display: inline-block; font-weight: 100; color: #cccccc; font-size: 0.6rem; float: right; }

.center_two { width: 100%; height: 7.5rem; background: #cccccc; margin-top: 1.25rem; }

.center_three > p { margin-top: 0.5rem; font-weight: 100; color: #6b6b6b; font-size: 0.6rem; }

.center_two1 { width: 100%; height: 9rem; background: #cccccc; margin-top: 0.5rem; }

.center_three1 { position: relative; }

.center_three1 > p { margin-top: 0.5rem; font-weight: 100; color: #6b6b6b; font-size: 0.6rem; }

.center_three1 > span { margin-top: 0.5rem; font-weight: 100; color: #6b6b6b; font-size: 0.6rem; float: right; }

.center_three1::after { content: ""; width: 16rem; height: 0.05rem; border-bottom: 1px solid #f4f4f4; position: absolute; top: 6.25rem; left: -0.9rem; }

.center_four { margin-top: 2rem; }

.center_four p { font-weight: 100; color: #cccccc; font-size: 0.6rem; }

.center_four_zuo { margin-left: 2.5rem; float: left; }

.center_four_you { margin-right: 2.5rem; float: right; }

.center_four::after { content: ""; width: 16rem; height: 0.5rem; background: #f4f4f4; position: absolute; top: 41.5rem; left: 0rem; }

.center::after { content: ""; width: 16rem; height: 0.15rem; background: #f4f4f4; position: absolute; top: 73.5rem; left: 0rem; }

#aa { width: 100%; height: 2rem; margin-top: 4.75rem; font-weight: 100; color: #6b6b6b; font-size: 0.7rem; }

#aa::after { content: ""; width: 16rem; height: 0.05rem; border-bottom: 1px solid #f4f4f4; position: absolute; top: 44rem; left: 0rem; }

.center_five1::after { content: ""; width: 16rem; height: 0.05rem; border-bottom: 1px solid #f4f4f4; position: absolute; top: 49.5rem; left: 0rem; }

.center_five2::after { content: ""; width: 16rem; height: 0.05rem; border-bottom: 1px solid #f4f4f4; position: absolute; top: 55rem; left: 0rem; }

.center_five3::after { content: ""; width: 16rem; height: 0.05rem; border-bottom: 1px solid #f4f4f4; position: absolute; top: 60.5rem; left: 0rem; }

.center_five > div { width: 100%; height: 5.5rem; }

.center_five1_zuo, .center_five2_zuo, .center_five3_zuo { width: 5rem; height: 4rem; background: #cccccc; border-radius: 0.5rem; margin-top: 0.5rem; float: left; }

.center_five1_you, .center_five2_you, .center_five3_you { width: 9rem; height: 4rem; margin-top: 0.5rem; float: right; }

.center_five1_you, .center_five2_you, .center_five3_you > p { font-weight: 300; color: #6b6b6b; font-size: 0.7rem; margin-left: 0.5rem; }

.bb > p { font-weight: 300; color: #323232; font-size: 0.5rem; display: inline-block; }

#bb { width: 100%; height: 2rem; margin-top: 0.15rem; font-weight: 100; color: #6b6b6b; font-size: 0.7rem; }

#bb::after { content: ""; width: 16rem; height: 0.05rem; border-bottom: 1px solid #f4f4f4; position: absolute; top: 62.5rem; left: 0rem; }

.center_six1 { width: 100%; height: 3.5rem; }

.six_zuo { margin-top: 0.5rem; width: 2.5rem; height: 2.5rem; border-radius: 50%; background: #cccccc; float: left; }

.cc { width: 11.5rem; height: 2.5rem; float: right; margin-left: 0.5rem; }

.cc > div { width: 11.5rem; height: 1.5rem; }

.cc > div > p { color: #323232; font-size: 0.5rem; display: inline-block; }

.sp { float: right; margin-left: 0.5rem; }

.cc > p { font-weight: 800; color: #323232; font-size: 0.7rem; display: inline-block; }

.cc span { padding: 0.3rem; }

.fool { width: 100%; height: 2rem; display: flex; }

.fool > p { width: 2.75rem; height: 1.5rem; display: inline-block; flex: 1; color: #323232; font-size: 0.5rem; margin-left: 0.5rem; margin-top: 0.5rem; }

/*# sourceMappingURL=01.css.map */
